<section class="amazon">
  <div class="container amazon__container">
    <p class="amazon__subtitle">Explore eero systems on</p>
    <svg class="amazon__icon" width="108" height="33">
      <use href="./images/icons.svg#icon-amazon-logo"></use>
    </svg>
    <a class="amazon__link" href="">Shop now</a>
    <h2 class="section-title amazon__title">
      More wifi for the devices in your connected home.
    </h2>
    <p class="section-text amazon__text">
      eero 6 systems use the power of Wi-Fi 6 to deliver faster speeds, increase
      your internet’s efficiency, and reduce network congestion. Say goodbye to
      dead spots and buffering with a connection that doesn’t slow you down,
      even as you add more devices.
    </p>
    <a class="button amazon__button" href="">Find your eero system</a>
    <img
      srcset="./images/more-wifi-img.jpeg 1x, ./images/more-wifi-img@2x.jpeg 2x"
      src="./images/more-wifi-img.jpeg"
      class="amazon__image"
      alt="People at home"
    />
  </div>
</section>
