<footer>
  <div class="container footer__container">
    <a href="index.html" class="logo__icon footer__logo">
      <svg class="logo__icon" width="86" height="39">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="footer__wrapper footer__wrapper--withmargin">
      <nav>
        <ul class="footer-nav">
          <li><a href="" class="footer-nav__item">Products</a></li>
          <li><a href="" class="footer-nav__item">How it works</a></li>
          <li><a href="" class="footer-nav__item">Technology</a></li>
          <li><a href="" class="footer-nav__item">eero Secure</a></li>
          <li><a href="" class="footer-nav__item">Support</a></li>
          <li><a href="" class="footer-nav__item">Find Your System</a></li>
          <li><a href="" class="footer-nav__item">Cookie preferences</a></li>
        </ul>
      </nav>
      <nav>
        <ul class="footer-nav">
          <li><a href="" class="footer-nav__item">Shop</a></li>
          <li><a href="" class="footer-nav__item">Careers</a></li>
          <li><a href="" class="footer-nav__item">Blog</a></li>
          <li><a href="" class="footer-nav__item">Media room</a></li>
          <li><a href="" class="footer-nav__item">Legal</a></li>
          <li><a href="" class="footer-nav__item">Custom installer</a></li>
          <li><a href="" class="footer-nav__item">Where to buy</a></li>
          <li>
            <a href="" class="footer-nav__item">eero for Service Providers</a>
          </li>
        </ul>
      </nav>
      <div class="footer-signup">
        <h2 class="footer-signup__title">Connect with us</h2>
        <p class="footer-signup__subtitle">
          For the latest eero news and promotions.
        </p>
        <div>
          <input type="email" name="email" class="footer-signup__input" placeholder="Email"/>
          <button type="submit" class="footer-signup__button">Submit</button>
        </div>
      </div>
    </div>
    <div class="footer__wrapper footer__wrapper--biggergap">
        <div>
            <p class="copyright copyright--smallfont">&copy; 2021</p>
            <p class="copyright">Eero LLC, San Francisco, CA</p>
        </div>
        <div class="socials">
            <a href="">
                <svg class="social-icon" width="30" height="30">
                    <use href="./images/icons.svg#icon-fb"></use>
                  </svg>
            </a>
            <a href="">
                <svg class="social-icon" width="30" height="30">
                    <use href="./images/icons.svg#icon-inst"></use>
                  </svg>
            </a>
            <a href="">
                <svg class="social-icon" width="30" height="30">
                    <use href="./images/icons.svg#icon-lin"></use>
                  </svg>
            </a>
            <a href="">
                <svg class="social-icon" width="30" height="30">
                    <use href="./images/icons.svg#icon-pin"></use>
                  </svg>
            </a>
            <a href="">
                <svg class="social-icon" width="30" height="30">
                    <use href="./images/icons.svg#icon-twit"></use>
                  </svg>
            </a>
        </div>
    </div>
  </div>
</footer>
