<header class="header">
  <div class="banner">
    <p class="banner__text">
      Free 2-day shipping | 30-day money back guarantee
    </p>
  </div>
  <div class="container header__container">
    <a href="index.html" class="logo header__logo">
      <svg class="logo__icon" width="107" height="49">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="site-nav">
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Products</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">How it works</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Technology</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">eero Secure</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Support</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Find your system</a>
        </li>
      </ul>
    </nav>
    <a href="" class="button header__button">Shop</a>
  </div>
</header>
