<section class="products">
  <div class="container products__container">
    <ul class="products__list">
      <li class="products__item">
        <div class="products__holder">
          <p class="products__caption">Wi-Fi 6</p>
          <h2 class="products__title">eero Pro 6</h2>
        </div>
        <h3 class="products__subtitle">The fastest eero yet.</h3>
        <p class="section-text products__description">
          Tri-band Wi-Fi 6 system designed for homes with gigabit internet
          connections.
        </p>
        <p class="products__description">
          Starting at <span class="products__price">$229</span>
        </p>
        <button class="button products__button" type="button">Shop now</button>
      </li>
      <li class="products__item">
        <div class="products__holder">
          <p class="products__caption">Wi-Fi 6</p>
          <h2 class="products__title">eero 6</h2>
        </div>
          <h3 class="products__subtitle products__subtitle--wide">
            Experience Wi-Fi 6—the new standard for home wifi.
          </h3>
        <p class="section-text products__description">
          Dual-band Wi-Fi 6 system designed for homes with 500 Mbps internet
          connections.
        </p>
        <p class="products__description">
          Starting at <span class="products__price">$129</span>
        </p>
        <button class="button products__button" type="button">Shop now</button>
      </li>
    </ul>
    <div class="products__box">
      <a class="products__link" href="">Compare All Models</a>
    </div>
  </div>
</section>
