$fontRoboto: 'Roboto', sans-serif;

$backgroundBlueColor: #161f49;
$backgroundGrayColor: #f7f7f7;
$mainButtonColor: #2468ff;
$mainGrayColor: #404040;
$mainBlackColor: #000000;
$mainWhiteColor: #ffffff;
$secondGrayColor: #999999;

$baseTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);